<footer class="text-center">
	<a href="https://github.com/angad19" class="social">github</a>
	<a href="https://open.spotify.com/user/angad5" class="social">spotify</a>
	<a href="mailto:angadsingh567890@gmail.com" class="social">mail</a>
	<a href="<%= feed %>">RSS</a>
	<p>&copy; Angad Singh 2018<br/> Generated with <a href="https://github.com/angad19/ln">ln</a></p>
</footer>
