<a href="posts/<%= posts[i].filename %>" class="list-group-item list-group-item-action flex-column align-items-start post">
	<div class="d-flex w-100 justify-content-between">
		<div class="mb-1 title"><%= posts[i].title %></div>
		<small class="date d-flex justify-content-end align-items-center"><%= posts[i].pdate %></small>
	</div>
</a>
